{{ if .Params.explain }}
    <link rel="stylesheet" type="text/css" href="/explain/tooltipster/tooltipster.bundle.min.css" />

    <script type="text/javascript" src="/explain/jquery/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/explain/tooltipster/tooltipster.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.tooltip').tooltipster({
                contentAsHTML: true,
                animationDuration: 0,
                delay: 0,
                maxWidth: 400,
                trigger: "custom",
                triggerOpen: { // open tooltip when element is clicked, tapped (mobile) or hovered
                    click: true,
                    tap: true,
                    mouseenter: true
                },
                triggerClose: { // close tooltip when element is clicked again, tapped or when the mouse leaves it
                    click: true,
                    scroll: false, // ensuring that scrolling mobile is not tapping!
                    tap: true,
                    mouseleave: true
                }
            });
        });
    </script>
{{ end }}
